/* SCSS Compiled */
/* line 7, ../sass/partials/_content_index1_4.scss */
.order_list_container {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
}
/* line 12, ../sass/partials/_content_index1_4.scss */
.order_list_container .order_list {
  float: right;
  width: 40%;
}
/* line 15, ../sass/partials/_content_index1_4.scss */
.order_list_container .order_list .item-container {
  overflow: hidden;
  display: block;
  width: calc(100% - 2px);
  border: 1px solid #377de7;
  height: 28px;
  line-height: 28px;
  margin-top: 7px;
}
/* line 23, ../sass/partials/_content_index1_4.scss */
.order_list_container .order_list .item-container dt, .order_list_container .order_list .item-container dd {
  display: inline-block;
  width: calc(50% - 2px);
  text-align: center;
  font-weight: 400;
}

/* line 34, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_container {
  margin-bottom: 25px;
}
/* line 38, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap .select_bg {
  position: absolute;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #377de7;
  line-height: 38px;
  height: 38px;
  right: 12px;
  text-indent: 10px;
  width: calc(75% - 14px);
}
/* line 51, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap .select_btn {
  width: 23px;
  height: 35px;
  position: absolute;
  top: 1px;
  right: 9px;
}
/* line 57, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap .select_btn img {
  display: block;
  margin: 4px 0;
}
/* line 60, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap .select_btn img:last-of-type {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 67, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap .select_arrow_block {
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  z-index: 200;
  background-color: #FFF;
}
/* line 81, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap select {
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -1px;
  width: 573px;
  padding-left: 20px;
  height: 39px;
  z-index: 150;
  border: none;
  background: transparent;
}
/* line 97, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap textarea {
  position: absolute;
  right: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #377de7;
  padding: 10px 5px;
  height: 45px !important;
  width: calc(75% - 24px);
  text-indent: 9px;
}
/* line 108, ../sass/partials/_content_index1_4.scss */
.tab4 .inputs_wrap:last-child {
  padding-bottom: 25px;
}
