/* line 2, ../sass/partials/_content_index2.scss */
.order_head {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}
/* line 7, ../sass/partials/_content_index2.scss */
.order_head span {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
/* line 12, ../sass/partials/_content_index2.scss */
.order_head .add_order {
  float: left;
  margin-left: 18px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-background-size: 21px 21px;
  -o-background-size: 21px 21px;
  background-size: 21px 21px;
  background-image: url(../images/attach_black.png);
  background-position: 0 50%;
}
/* line 26, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 {
  float: right;
  overflow: hidden;
}
/* line 29, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 .btn {
  background: #FFF;
  margin-left: 13px;
  width: 35px;
  height: 28px;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: 21px 21px;
  -o-background-size: 21px 21px;
  background-size: 21px 21px;
  background-repeat: no-repeat;
}
/* line 42, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 .btn_edit {
  border: 1px solid #377de7;
  color: #377de7;
  background-image: url(../images/edit.png);
  background-position: 50% 50%;
}
/* line 47, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 .btn_edit:hover {
  background-color: #377de7;
  color: #fff;
  background-image: url(../images/edit_inverse.png);
}
/* line 53, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 .btn_remove {
  border: 1px solid #f20101;
  background-image: url(../images/previous.png);
  background-position: 50% 50%;
}
/* line 57, ../sass/partials/_content_index2.scss */
.order_head .btn-container_1 .btn_remove:hover {
  background-color: #f20101;
  color: #fff;
  background-image: url(../images/previous_inverse.png);
}

/* line 66, ../sass/partials/_content_index2.scss */
.h3_block {
  border: 1px solid #377de7;
  font-size: 14px;
  height: 28px;
  line-height: 29px;
  margin: 13px 0 17px;
  padding-left: 70px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f4f4f7;
  text-align: left;
  width: calc(100% - 72px);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  -webkit-background-size: 18px;
  -o-background-size: 18px;
  background-size: 18px;
}

/* line 84, ../sass/partials/_content_index2.scss */
.order_list_container {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
/* line 89, ../sass/partials/_content_index2.scss */
.order_list_container .order_list {
  float: left;
  overflow: hidden;
  width: calc(50% - 10px);
}
/* line 93, ../sass/partials/_content_index2.scss */
.order_list_container .order_list h3 {
  text-align: center;
  padding: 0;
  width: calc(100% - 2px);
}
/* line 98, ../sass/partials/_content_index2.scss */
.order_list_container .order_list ul {
  border: 1px solid #377de7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: calc(100% - 2px);
}
/* line 103, ../sass/partials/_content_index2.scss */
.order_list_container .order_list ul li {
  padding-left: 55px;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat;
  -webkit-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
  background-position: 20px 50%;
}
/* line 115, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 {
  margin-right: 10px;
}
/* line 117, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 h3 {
  background-image: url(../images/shopping-bag.png);
  background-position: 23% 50%;
}
/* line 121, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 li:first-child {
  background-image: url(../images/real-estate.png);
}
/* line 124, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 li:nth-child(2) {
  background-image: url(../images/calendar.png);
}
/* line 127, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 li:nth-child(3) {
  background-image: url(../images/credit-card.png);
}
/* line 130, ../sass/partials/_content_index2.scss */
.order_list_container .list_1 li:last-child {
  background-image: url(../images/truck.png);
}
/* line 134, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 {
  margin-left: 10px;
}
/* line 136, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 h3 {
  background-image: url(../images/avatar.png);
  background-position: 18% 50%;
}
/* line 140, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 li:first-child {
  background-image: url(../images/id-card.png);
}
/* line 143, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 li:nth-child(2) {
  background-image: url(../images/team.png);
}
/* line 146, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 li:nth-child(3) {
  background-image: url(../images/mail.png);
}
/* line 149, ../sass/partials/_content_index2.scss */
.order_list_container .list_2 li:last-child {
  background-image: url(../images/phone-call.png);
}

/* line 154, ../sass/partials/_content_index2.scss */
.order_history {
  display: block;
  overflow: hidden;
  width: 100%;
}

/* line 159, ../sass/partials/_content_index2.scss */
.h3_details {
  background-image: url(../images/info-sign.png);
  background-position: 45px 50%;
  background-size: 10px;
}

/* line 164, ../sass/partials/_content_index2.scss */
.h3_add_history {
  background-image: url(../images/add.png);
  background-position: 45px 50%;
}

/* line 169, ../sass/partials/_content_index2.scss */
.order_table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}
/* line 173, ../sass/partials/_content_index2.scss */
.order_table tr {
  text-align: center;
}
/* line 176, ../sass/partials/_content_index2.scss */
.order_table td, .order_table th {
  width: 20%;
  height: 35px;
  line-height: 35px;
  position: relative;
  border: 2px solid #83aff1;
  vertical-align: middle;
  overflow: hidden;
}
/* line 184, ../sass/partials/_content_index2.scss */
.order_table td:nth-child(2), .order_table th:nth-child(2) {
  width: 30%;
}

/* line 191, ../sass/partials/_content_index2.scss */
.history_form {
  font-size: 14px;
  display: block;
  overflow: hidden;
  width: 100%;
}
/* line 196, ../sass/partials/_content_index2.scss */
.history_form .inputs_container {
  overflow: hidden;
  background-color: #f3f4f6;
  padding-bottom: 6px;
  width: calc(100% - 2px);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #377de7;
}
/* line 205, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap {
  margin: 12px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 210, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap label {
  float: left;
  width: calc(25% - 40px);
  line-height: 38px;
  height: 38px;
  text-align: left;
  margin-left: 35px;
  color: #040404;
  font-weight: 400;
}
/* line 220, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap input, .history_form .inputs_wrap .select_bg {
  float: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #377de7;
  line-height: 38px;
  height: 38px;
  margin-right: 25px;
  text-indent: 10px;
  width: calc(75% - 27px);
}
/* line 231, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap .select_bg {
  overflow: hidden;
  display: inline-block;
  position: relative;
  background-color: #fff;
}
/* line 237, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap .select_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1px;
  right: -10px;
}
/* line 243, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap .select_btn img {
  display: block;
  margin: 4px 0;
}
/* line 246, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap .select_btn img:last-of-type {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 253, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap .select_arrow_block {
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: -3px;
  z-index: 200;
  background-color: #fff;
}
/* line 267, ../sass/partials/_content_index2.scss */
.history_form .inputs_wrap select {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -1px;
  width: 559px;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  z-index: 150;
  border: none;
  background: transparent;
}
/* line 286, ../sass/partials/_content_index2.scss */
.history_form .btn_container {
  display: block;
  overflow: hidden;
  width: 100%;
}
/* line 290, ../sass/partials/_content_index2.scss */
.history_form .btn_container .btn_add_history {
  color: #000;
  border: 1px solid #377de7;
  float: right;
  margin-right: 25px;
  width: 160px;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}
/* line 300, ../sass/partials/_content_index2.scss */
.history_form .btn_container .btn_add_history .add_icon {
  float: left;
  width: 20%;
  height: 28px;
  line-height: 28px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-image: url(../images/add.png);
  background-position: 10px 50%;
  transition: all 0.5s;
}
/* line 311, ../sass/partials/_content_index2.scss */
.history_form .btn_container .btn_add_history .add_text {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 13px;
}
/* line 317, ../sass/partials/_content_index2.scss */
.history_form .btn_container .btn_add_history:hover {
  color: #fff;
  background-color: #377de7;
}
/* line 318, ../sass/partials/_content_index2.scss */
.history_form .btn_container .btn_add_history:hover .add_icon {
  background-image: url(../images/add_inverse.png);
}
