/* Brand Colors ------------------------------------------------*/

	$darkBlue: #397ce6;
	$lightBlue: #377de7;
	$greyBlue: #f4f4f7;
	$headerLi: #4c8aea;
	$bgColor: #f3f4f6;
	$white: #fff;
	$fontDarlColor: #1e3237;
	$fontBlueColor: #377de7;
	
	$tabsBorder: #4991e3;
	
	$headerHeight: 80px;
	$td_Height:40px;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: '',sans-serif;
	$brand-font-2: '',sans-serif;
