
// common style for tabs head in all-index1.css
.tab3 {
		.inputs_wrap{
			padding-bottom:25px;
			textarea{
				position: absolute;
				right: 12px;  
				@include border-radius(4px);
				border: 1px solid #377de7;
				padding:10px 5px;
				height:45px!important;
				width:calc(75% - 24px);
				text-indent:9px;
				}
			}
	}
