
// tabs


// table

.order_table{
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	tr{
		text-align: center;
		}
	td,th{
		width: 15%;
		height:40px;
		position:relative;
		border: 2px solid #83aff1;
		vertical-align: middle;
		overflow:hidden;}
	.td-action{
			width:100%;
			@include display-flex;
			@include justify-content(space-around);
			overflow:hidden;
	}
	.del{
		border: 1px solid #f41a1a;
		@include border-radius(5px);
		width: 43px;
		height: 22px;
		background-repeat:no-repeat; 
		-webkit-background-size: 14px; 
		-o-background-size: 14px; 
		background-size: 14px; 
		transition: all .5s ease;
		background-image: url(../images/remove1.png) ;
		background-position: 50% 50%; 
		background-color: #fff; 

		&:hover{
			background-color: #f41a1a;
			background-image: url(../images/remove1_inverse.png) ;
			
		}
	}
	.input_count{
			display:block;
			overflow:hidden;
			margin:auto;
			width:50%;
			height:20px;
			@include border-radius(5px);
			border:1px solid #377de7;
			position:relative;
			background-color: #fff; 
			input{
				background-color: #fff; 
				width:50%;
				@include vertical-align;
				left:15%;
				border:none;
				box-shadow:none;
			}
			button{
				position:absolute;
				right:7px;
				top:0;
				width:20%;
				height: 100%; 
				padding:0;
				border:none;
				background-repeat:no-repeat; 
				-webkit-background-size: 12px; 
				-o-background-size: 12px; 
				background-size: 12px; 
				background-image: url(../images/refresh--1-.png) ;
				background-position: 0 50%; 
				background-color: #fff; 	
				&:active{
					background-size: 10px; 
				}			
			}
		
	}
}

// table

.tab-form{
	//common style for tab-form in content_index1.css
	.col-6{
		margin-bottom:25px;
	}
	.inputs_container{
		margin-bottom: 25px;
	}

}
